/project.properties
/SignalInfo.iml
/signalInfo.mwb
/signalInfo.mwb.bak
/signalinfo.sql
/AndroidManifest.xml
/ant.properties
/build.xml
/local.properties
/signalinfo.properties
/proguard-project.txt
/gen/*
/assets
/assets/icudt46l.zip
/gen/com/android/signalinfo/R.java
/gen/com/android/signalinfo/BuildConfig.java
/libs/commons-codec.jar
/libs/guava-r09.jar
/libs/sqlcipher.jar
/libs/SQLCIPHER_LICENSE
/libs/armeabi/libstlport_shared.so
/libs/armeabi/libdatabase_sqlcipher.so
/libs/armeabi/libsqlcipher_android.so
.idea/*
/out/*
/SignalInfoTest/gen/R.java
/SignalInfoTest/gen/BuildConfig.java
/SignalInfoTest/gen/Manifest.java
/SignalInfoTest/bin
/SignalInfoTest/gen
